In [1]:
'''
@Author: Su, Ming Yi
@Date: 01/17/2019
@Goal: learn how to use python pandas
'''

'\n@Author: Su, Ming Yi\n@Date: 01/17/2019\n@Goal: learn how to use python pandas\n'

In [2]:
import numpy as np
import pandas as pd

In [3]:
true_label_file = "../sample/true_label/0117_test/3_true_label_6_classes.csv"
df_true_label = pd.read_csv(true_label_file);
df_true_label

    line_0  line_1  line_2  line_3  line_4  line_5  line_6  line_7
0      5.0     5.0     5.0     5.0     5.0     5.0     5.0       5
1      1.0     1.0     2.0     4.0     4.0     2.0     4.0       2
2      1.0     1.0     2.0     4.0     4.0     2.0     4.0       2
3      4.0     2.0     2.0     1.0     1.0     2.0     1.0       2
4      4.0     2.0     2.0     4.0     2.0     1.0     2.0       2
5      1.0     4.0     2.0     4.0     2.0     1.0     6.0       2
6      1.0     4.0     2.0     1.0     2.0     1.0     2.0       6
7      4.0     2.0     1.0     4.0     2.0     2.0     4.0       2
8      4.0     2.0     2.0     4.0     2.0     2.0     4.0       2
9      4.0     1.0     2.0     1.0     2.0     2.0     4.0       2
10     4.0     4.0     4.0     2.0     6.0     6.0     4.0       2
11     NaN     4.0     4.0     2.0     4.0     1.0     4.0       4
12     NaN     1.0     4.0     1.0     4.0     2.0     1.0       4
13     NaN     NaN     4.0     NaN     4.0     2.0     4.0       1
14     NaN     NaN     1.0     NaN     4.0     2.0     6.0       4
15     NaN     NaN     NaN     NaN     4.0     2.0     4.0       4
16     NaN     NaN     NaN     NaN     4.0     NaN     1.0       6
17     NaN     NaN     NaN     NaN     NaN     NaN     1.0       1
18     NaN     NaN     NaN     NaN     NaN     NaN     6.0       6
19     NaN     NaN     NaN     NaN     NaN     NaN     NaN       6

In [4]:
record_line = df_true_label[df_true_label.columns[0]];
count =0;
for i in range(0, len(record_line)):
    if (record_line[i]>0):
        count = count+1;
print(count)

11

In [10]:
## learn how to output a single confusion matrix (.csv) by pandas
a = [1,2,3,4,5,6,7];
dict = {
    str(a[0]):a,
}
output_df = pd.DataFrame(dict)    
print(output_df.head());
#output_df.to_csv("test.csv", index=False)

   1
0  1
1  2
2  3
3  4
4  5

In [17]:

inp = [{'c1':10, 'c2':100}, {'c1':11,'c2':110}, {'c1':12,'c2':120}]
df = pd.DataFrame(inp)
print(df)

   c1   c2
0  10  100
1  11  110
2  12  120

In [25]:
tmp = [];
for i in range(0,5):
    inp  = ["xxx",100*i];
    tmp.append(inp)
df = pd.DataFrame(tmp)
print(df)
df['e'] = [1,2,3,4,5]
# df['e'] = e
print(df)
#df.to_csv("test.csv", index=False)

     0    1
0  xxx    0
1  xxx  100
2  xxx  200
3  xxx  300
4  xxx  400
     0    1  e
0  xxx    0  1
1  xxx  100  2
2  xxx  200  3
3  xxx  300  4
4  xxx  400  5

In [27]:
tmp = [];
a = 0;
tmp.append(a)
print(tmp)

[0]

In [31]:
x= "{:.1%}".format(0)
print(x)

0.0%

In [ ]:
x = "ab";